# Copy to /etc/default/lightweight-cog-kiosk and set the URL to display.
KIOSK_URL="https://example.com"
KIOSK_HIDE_CURSOR="1"
XCURSOR_THEME="lightweight-cog-kiosk-transparent"
XCURSOR_PATH="/usr/local/share/lightweight-cog-kiosk/icons"
XCURSOR_SIZE="24"
